/*
 *    Copyright (c) 2018-2025, jic All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice,
 * this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 * Neither the name of the pig4cloud.com developer nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 * Author: binginx (binginx@gmail.com)
 */

package ${package}.${moduleName}.model.entity;

import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@ApiModel(description = "${tableName}")
public class ${className} {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty(notes="$column.comments"#if($column.hidden),hidden=$column.hidden#end)
    private $column.attrType $column.lowerAttrName;
    #end
}
